# Final Project
## Data exploration
### James Fallon

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import glob

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
files = glob.glob('./Data/LoanStats3[a-d].csv.zip')
files2 = glob.glob('./Data/LoanStats_2016Q[1-2].csv.zip')
files = files + files2

print 'IMPORT LOAN DATA\n'
print 'files being imported:\n' + str(files) +'\n'

#keep track of concatenation
i = 0

#start with the first file
data = pd.read_csv(files[0], header = 1, compression = 'zip')
print 'file ' + str(i) + ' complete'

#loop through remaining files
for file in files[1:len(files)]:
    
    data = pd.concat((data, pd.read_csv(file, header = 1, compression = 'zip')), axis = 0)
    
    #keep track of loading process
    i+=1
    print 'file ' + str(i) + ' complete'
    
    if i == len(files):
        print 'import complete'

#sense check shape, size etc. of dataset
np.shape(data)
variables = pd.DataFrame(data.columns.values)
data.index.values
data.head(n=5)

data = data.sample(frac=0.03, replace=False)

IMPORT LOAN DATA

files being imported:
['./Data/LoanStats3a.csv.zip', './Data/LoanStats3b.csv.zip', './Data/LoanStats3c.csv.zip', './Data/LoanStats3d.csv.zip', './Data/LoanStats_2016Q1.csv.zip', './Data/LoanStats_2016Q2.csv.zip']

/Users/arthuraguillar/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 0 complete

/Users/arthuraguillar/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 1 complete

/Users/arthuraguillar/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 2 complete

/Users/arthuraguillar/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 3 complete
file 4 complete
file 5 complete

(1119194, 111)

array([    0,     1,     2, ..., 97853, 97854, 97855])

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
#import declined loan data

files = ['./Data/RejectStatsB.csv.zip', './Data/RejectStatsD.csv.zip']
files2 = glob.glob('./Data/RejectStats_2016Q[1-2].csv.zip')
files = files + files2

print 'IMPORT DECLINED LOAN DATA\n'
print 'files being imported:\n' + str(files) +'\n'

#keep track of concatenation
i = 0

#start with the first file
dec_data = pd.read_csv(files[0],  skiprows = 1, compression = 'zip')
print 'file ' + str(i) + ' complete'

#loop through remaining files
for file in files[1:len(files)]:
    
    dec_data = pd.concat((dec_data, pd.read_csv(file, skiprows = 1, compression = 'zip')), axis = 0)
    
    #keep track of loading process
    i+=1
    print 'file ' + str(i) + ' complete'
    
    if i == len(files):
        print 'import complete'

#sense check shape, size etc. of dataset
np.shape(dec_data)
dec_variables = pd.DataFrame(dec_data.columns.values)
dec_data.index.values
dec_data.head(n=5)

dec_data2 = dec_data.sample(frac=0.01, replace=True)


#dec_data2['dti'] = dec_data2['Debt-To-Income Ratio']
#dec_data2 = df.rename(columns={'$Debt-To-Income Ratio': 'dti'} , inplace=True)

IMPORT DECLINED LOAN DATA

files being imported:
['./Data/RejectStatsB.csv.zip', './Data/RejectStatsD.csv.zip', './Data/RejectStats_2016Q1.csv.zip', './Data/RejectStats_2016Q2.csv.zip']

file 0 complete
file 1 complete
file 2 complete
file 3 complete

(7645772, 9)

array([     0,      1,      2, ..., 996359, 996360, 996361])

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,30000.0,2013-01-01,debt_consolidation,754.0,32.01%,559xx,MN,< 1 year,0.0
1,15000.0,2013-01-01,medical,728.0,27.01%,945xx,CA,< 1 year,0.0
2,2500.0,2013-01-01,other,723.0,0.92%,190xx,PA,7 years,0.0
3,4000.0,2013-01-01,car,563.0,24.92%,296xx,SC,< 1 year,0.0
4,22000.0,2013-01-01,debt_consolidation,0.0,26.91%,735xx,OK,< 1 year,0.0

In [4]:
dec_data2['loan_status'] = 0
dec_data2 = dec_data2[["Debt-To-Income Ratio" , "loan_status"]]
dec_data2 = dec_data2.rename(columns = {"Debt-To-Income Ratio" :"dti"})
dec_data2.head(5)

            dti  loan_status
207238    9.32%            0
335036      -1%            0
202118   17.18%            0
968698   10.45%            0
1509559  25.11%            0

In [5]:
#########################################################################################
# Chart: Conf intervals of groups Active, default, fully paid over debt to risk ratio
#########################################################################################
data = data[["dti","loan_status"]]
# This part is not working anymore for some reason #
data['loan_status'].replace(to_replace = ["Fully Paid", "Charged Off", "Default", "Late (31-120 days)", "Current", 
           "In Grace Period",
          "Late (16-30 days)",
          "Does not meet the credit policy. Status:Fully Paid",
           "Does not meet the credit policy. Status:Charged Off"], value = ["2","0","0","1","1",'1','1','2','0'], inplace=True)





##categorizing different statuses
#data['loan_status'].replace(to_replace = ["Fully Paid", "Charged Off", "Default", "Late (31-120 days)", "Current",  "In Grace Period", "Late (16-30 days)","Does not meet the credit policy. Status:Fully Paid","Does not meet the credit policy. Status:Charged Off"], value = [2,0,0,1,1,1,1,2,0], inplace=True)




#data['loan_status'].replace(["Fully Paid", "Charged Off", "Default", "Late (31-120 days)", "Current", 
#          "In Grace Period",
#         "Late (16-30 days)",
#         "Does not meet the credit policy. Status:Fully Paid",
#          "Does not meet the credit policy. Status:Charged Off"], [2,0,0,1,1,1,1,2,0])
##generating new frequency table
counts_status = data['loan_status'].value_counts()

#data['dti'] = data['dti'].replace('%','',regex=True).astype('float')

In [6]:
#data.head(5)   
#defaults1 = data[data['loan_status'] == 1]

In [7]:




#defaults = [defaults0 defaults1 defaults2]
#for i in 0, 1, 2:
#    defaults[i] = defaults[i].drop('loan_status', 1)
#    defaults[i] = defaults[i].as_matrix()
#    np.mean(defaults[i])
#    numpy.std(defaults[i])


#defaults_0 = pd.concat((defaults_0, dec_data2), axis = 0)

### Splitting sets ###
#defaults_0.head(5)

In [8]:
defaults0 = data[data['loan_status'] == "0"]
defaults0 = defaults0['dti']

defaults1 = data[data['loan_status'] == "1"]
defaults1 = defaults1['dti']

defaults2 = data[data['loan_status'] == "2"]
defaults2 = defaults2['dti']

dec_data2['loan_status'] = "0"
defaults3 = dec_data2['dti']

In [9]:

defaults0 = defaults0.replace('%','',regex=True).astype('float')
defaults1 = defaults1.replace('%','',regex=True).astype('float')
defaults2 = defaults2.replace('%','',regex=True).astype('float')
defaults3 = defaults3.replace('%','',regex=True).astype('float')
defaults3 = defaults3.replace('%','',regex=True).astype('float')
    
            
#defaults3 = defaults3[(defaults3 != 99999 ) & (defaults3 != 9999)]
#defaults3 = defaults3[(defaults3 != 99999 )]
#defaults1['dti'] = defaults1['dti'].replace('%','',regex=True).astype('float')
#defaults2['dti'] = defaults2['dti'].replace('%','',regex=True).astype('float')
#defaults3['dti'] = defaults3['dti'].replace('%','',regex=True).astype('float')

#defaults0  = defaults0.as_matrix()
#defaults1  = defaults1.as_matrix()
#defaults1 = defaults1.astype(float) 

#defaults2  = defaults2.as_matrix()
#defaults3  = defaults3.as_matrix()
#defaults1 = scipy.delete(defaults1, 1, 0) 
a = np.mean(defaults0)
b = np.std(defaults0)
c = np.mean(defaults1)
d = np.std(defaults1)
e = np.mean(defaults2)
f = np.std(defaults2)
g = np.mean(defaults3)
h = np.std(defaults3)

#e = np.mean(defaults2)
#f = np.std(defaults2)
# Perform tabulations

means = [a, c, e]
sd_list = [b, d, f]
indexes = [5, 10 , 15]
a
b
c
d
e
f
g
h

19.299052074857592

8.257257051588173

19.06066214251096

9.28914354669353

16.738273264683464

7.797755465287257

161.3385197101668

5470.863829130182

In [ ]:
fig = plt.figure(figsize=(10, 10))
ax1 = fig.add_subplot(1, 1, 1  )
ax1.errorbar( 5,a, yerr=b, fmt = 'o', color = 'g', label='Defaults')
ax1.errorbar( 10,c, yerr=d, fmt = 'o', color = 'b', label='Active')
ax1.errorbar( 15,e, yerr=f, fmt = 'o', color = 'y', label='Fully paid')
ax1.set_xlabel('Client category')
ax1.set_ylabel('Debt to income ratio')
ax1.set_title('95% confidence intervals over debt income ratio for default, active and fully paid loans  ')
ax1.legend()
plt.tight_layout()
plt.show()

#ax1.set_yscale('log')

plt.show()